html {
  line-height: 1.5;
  font-family: "Georgia", serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body{
  margin: 0;
}

body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

h1 {
  grid-column: 1 / -1;
  grid-row: 1;
}
